**bold**

*italic*

* python
* java
* R programming
* scripting languages
  - html
  - xml

**python programming**

In [15]:
print("hello world!")
print("haii")

hello world!
haii

In [16]:
print(1)

1

**operators**

* arithematic operators
* relational operators
* logical operators
* assignment operator
* bitwise operator
* increment and decrement operators
* membership operators

# arithematic operator

In [21]:
type(1)

int

In [22]:
type(10/3)

float

In [23]:
10//3

3

In [24]:
10%3

1

# logical operator

In [54]:
True and True

True

In [55]:
False and False

False

In [56]:
True and True

True

# assignment opeartor

In [39]:
a // 5
a

0

In [41]:
a+=1
a

2

In [33]:
a=b=c=d=5

In [34]:
a,b,c,d

(5, 5, 5, 5)

In [35]:
a,c,b,d

(5, 5, 5, 5)

In [28]:
a=10
type(a)

int

In [30]:
a="hello"
type(a)

str

# relational operator

In [31]:
2==3

False

In [32]:
2!=3

True

# bit wise operator

In [43]:
4 & 7

4

In [44]:
7|4

7

In [45]:
8<<2

32

In [46]:
8>>2

2

# identity operators

In [47]:
2==3

False

In [48]:
2 is 3

False

In [49]:
2!=3

True

In [50]:
2 is not 3

True

# membership operators

In [51]:
"ap" in "apssdc"

True

In [53]:
"t" not in "apssdc"

True

<img src="">

In [58]:
%%HTML
<iframe width="362" height="229" src="https://www.youtube.com/embed/qqG7Z9ZBOr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>