## list

- list is nothing but collection of different types of data like array in c language
- list represented by [] braces
- list is a mutable data type

In [14]:
l=[]
type(l),1

(list, 1)

In [19]:
l =[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### INDEXING IN LIST

In [9]:
l[0]

1

In [10]:
l[-1]

[1, 2, 3]

In [12]:
l[-2]

True

In [13]:
l[-1][1]

2

### slicing

In [20]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [23]:
l[2:4]

['hello', 3.4]

In [21]:
l[-2:]

[True, [1, 2, 3]]

In [22]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [25]:
l[-1][::-1]

[3, 2, 1]

In [26]:
l[::2]

[1, 'hello', True]

In [35]:
l[0] = 10
l

[10, True, [1, 2, 3]]

In [34]:
del l[0]
l

[3.4, True, [1, 2, 3]]

In [46]:

l=l =[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [48]:
marks = [6,7,4,5,2]
min(marks)

2

In [50]:
marks =[ 6,4,5,7]
max(marks)

7

In [52]:
marks = [6,7,5,3]
sum(marks)

21

In [53]:
sorted(marks,reverse = True)

[7, 6, 5, 3]

In [56]:
sum(marks)//len(marks)

5

In [57]:
marks+[10,20]

[6, 7, 5, 3, 10, 20]

In [58]:
marks

[6, 7, 5, 3]

In [59]:
marks*2

[6, 7, 5, 3, 6, 7, 5, 3]

### list methods

In [60]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [61]:
marks.append(10)

In [62]:
marks

[6, 7, 5, 3, 10]

In [63]:
marks.extend([20,30])

In [64]:
marks

[6, 7, 5, 3, 10, 20, 30]

In [65]:
marks.pop()

30

In [66]:
marks

[6, 7, 5, 3, 10, 20]

In [67]:
marks.pop(0)

6

In [68]:
marks

[7, 5, 3, 10, 20]

In [69]:
marks.insert(0,10)

In [70]:
marks

[10, 7, 5, 3, 10, 20]

In [72]:
marks.index(7)

1

In [73]:
marks.index('x')

ValueError: 'x' is not in list

In [76]:
marks.reverse()

In [77]:
marks

[20, 10, 3, 5, 7, 10]

In [80]:
marks.sort()
marks

[3, 5, 7, 10, 10, 20]

In [81]:
marks.count(10)

2

In [83]:
marks.count(-1)

0

In [84]:
marks2=marks.copy()
marks2,marks

([3, 5, 7, 10, 10, 20], [3, 5, 7, 10, 10, 20])

In [85]:
marks2.clear()
marks2,marks

([], [3, 5, 7, 10, 10, 20])

In [86]:
for item in marks:
    print(item)

3
5
7
10
10
20

In [87]:
index = 0
while index<len(marks):
    print(marks[index])
    index +=1

3
5
7
10
10
20

In [88]:
#task :print the names which names end with 'u' character 
# sample output :raghu balu
names ="mahesh ravi raghu krish balu"
names_list = names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name,end=" ")

raghu balu

In [2]:
task-2:print the names whitch length has maximum
#sample output:mahesh
names ="mahesh ravi raghu krish balu"
names_list
l=[]
for name in names_list:
    1.append(len(name))
max_length = max(1)
for name in names_list:
    if len(name)==max_length:
        print('name')

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(the names whitch length has maximum)? (<ipython-input-2-a66921b92a63>, line 1)

In [189]:

task -3:print the names with ends vowels
#sample output:ravi raghu balu 
names ="mahesh ravi raghu krish balu"
names_list = names.split(" ")
for name in names_list:
    if name.endswith()
        print(name,end=" ")

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(the names with ends vowels)? (<ipython-input-189-d749233b61d6>, line 1)

In [ ]:
task:4 
 Palindrome: Need to find and print whether this string is a palindrome or not. If yes, print "YES" else print "NO".
Sample Input : LoL Sample output : YES

In [6]:
str = input("enter a string:")
if (str==str[::-1]):
    print("str is palindrome")
else:
     print("str is not palidrome")

enter a string:mom
str is palindrome

In [5]:
Toggle String: You have been given a String S consisting of uppercase and lowercase English alphabets. You need to change the case of each alphabet in this String.
Sample Input :
hElLo
Sample output : HeLlO

## tuple

- tuple is a immutable data type in python
- it is also like list but it can't chage once created
- it is represented by ( (paranthesis)symbol

In [107]:
t = tuple()
t

()

In [108]:
ages = (20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

###  indexing in tuple

In [110]:
ages[0]

20

In [111]:
ages[-1]

40

## slicing in tuples

In [112]:
ages[0:2]

(20, 21)

In [113]:
ages[::-1]

(40, 21, 20)

In [ ]:
del ages[0] # it wont worl beacause

In [114]:
len(ages)

3

In [115]:
max(ages)

40

In [116]:
min(ages)

20

In [117]:
sum(ages)

81

### tuple methods

In [118]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [119]:
ages.index(20)

0

In [120]:
ages.count(20)

1

In [121]:
x,y,z = ages

In [122]:
print(x,y,z)

20 21 40

In [123]:
ages

(20, 21, 40)

In [124]:
a= 1,2,3
a,type(a)

((1, 2, 3), tuple)

In [125]:
for item in ages:
    print(item)

20
21
40

In [126]:
for item in ages[::-1]:
    print(item)

40
21
20

### set

In [145]:
s = {1,2,3}
s,type(s)

({1, 2, 3}, set)

In [146]:
set.index[0] #index is not work

AttributeError: type object 'set' has no attribute 'index'

In [147]:
set[:] #slicing also not work

TypeError: 'type' object is not subscriptable

In [148]:
len(s)

3

In [149]:
min(s)

1

In [150]:
max(s)

3

In [153]:
l={1,2,3,4,5,6}
l

{1, 2, 3, 4, 5, 6}

In [154]:
s.add(10)

In [155]:
s

{1, 2, 3, 10}

In [156]:
s.remove(10)

In [157]:
s

{1, 2, 3}

In [158]:
s.pop()

1

In [159]:
s

{2, 3}

In [161]:
a={1,2,3,4,5}
b={1,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [165]:
a.intersection(b)

{1, 4, 5}

In [168]:
b.difference(a)

{6}

In [170]:
a,b

({1, 2, 3, 4, 5}, {1, 4, 5, 6})

In [174]:
a.difference_update(b)
a,b

({2, 3}, {1, 4, 5, 6})

In [175]:
c={1}
c

{1}

In [176]:
c.issubset(a),a,c

(False, {2, 3}, {1})

In [177]:
a.isdisjoint(c)

True

In [178]:
a.issuperset(c)

False